{% extends "base.html" %}

{% block title %}Pick a name{% endblock title %}

{% block css %}
<style>
/* svg styles */
svg {
    font-family: sans-serif;
    font-size: 10px;
    width: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #444;
    stroke-width: .5;
}

.column {
    stroke: #fff;
    stroke-width: .5;
}

.column.male {
    fill: Steelblue;
}

.column.female {
    fill: Pink;
}

</style>
{% endblock css %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Pick a name</h1>
        <p>Plug in your last name. Hit Go for a random first name.</p>
        <form class="form-inline" id="names">
            <div class="form-group">
                <select name="sex" class="form-control">
                    <option value="all">All names</option>
                    <option value="f">Female</option>
                    <option value="m">Male</option>
                </select>
                <input type="text" class="form-control" name="firstname">
                <input type="text" class="form-control" name="lastname" placeholder="Last name">
                <button class="btn btn-default">Go</button>
                
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="chart" class="col-xs-12"></div>
    </div>
</div>
{% endblock content %}

{% block library_scripts %}
<script src="{{ s('bower_components/d3/d3.min.js') }}"></script>
<script src="{{ s('bower_components/zepto/zepto.min.js') }}"></script>
<script src="{{ s('bower_components/underscore/underscore-min.js') }}"></script>
<script src="{{ s('bower_components/backbone/backbone.js') }}"></script>

{% endblock library_scripts %}

{% block scripts %}
<script src="{{ s('js/app.js') }}"></script>

<script>
var form = d3.select('#names')
  , baseurl = "{{ url_for('get_random_stats') }}"
  , margin = {top: 10, right: 30, bottom: 30, left: 50}
  , width = parseInt(d3.select('#chart').style('width'), 10)
  , width = width - margin.left - margin.right
  , height = 350
  , barWidth = (width / (2013 - 1880) / 2);

// global lastname
var lastname = localStorage.getItem('namethis:lastname');

if (lastname) {
    d3.select('[name=lastname]').property('value', lastname);
};

var x = d3.scale.linear()
    .domain([1880, 2014])
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .orient('bottom')
    .scale(x)
    .tickFormat(String);

var yAxis = d3.svg.axis()
    .orient('left')
    .scale(y)
    .tickFormat(d3.format(','));

var svg = d3.select('#chart').append('svg')
    //.style('width', (width + margin.left + margin.right) + 'px')
    .style('height', (height + margin.top + margin.bottom) + 'px')
  .append('g')
    .attr('transform', 'translate(' + [margin.left, margin.top] + ')');

svg.append('g')
    .attr('class', 'x axis')
    .attr('transform', 'translate(' + [0, height] + ')')
    .call(xAxis);

svg.append('g')
    .attr('class', 'y axis')
    .call(yAxis);


form.on('submit', function() {
    d3.event.preventDefault();

    // stash last name
    lastname = d3.select('[name=lastname]').property('value');
    localStorage.setItem('namethis:lastname', lastname);

    // filter by sex
    var sex = d3.select('[name=sex]').property('value')
      , url = [baseurl, sex].join('/');

    d3.json(url, function(err, data) {
        window.data = data;
        d3.select('[name=firstname]').property('value', data.name);

        render_chart(data.stats, sex);

    });
});

d3.select(window)
    .on('hashchange', set_name)
    .on('load', set_name);

function set_name() {
    var e = d3.event
      , name = location.hash.replace('#', '')
      , sex = d3.select('[name=sex]').property('value')
      , url = [name, sex].join('/');

    if (!name) { return; }

    // set form field
    d3.select('[name=firstname]').property('value', name);

    d3.json(url, function(err, data) {
        window.data = data;
        render_chart(data.stats, sex);
    });
}

function render_chart(data, sex) {

    // update y
    y.domain([0, d3.max(data, function(d) { return d.number; })])
    svg.select('.y.axis')
        .transition()
        .call(yAxis);

    var bars = svg.selectAll('.column')
        .data(data, function(d) { return [d.year, d.sex]; });

    bars.enter().append('rect')
        .attr('class', 'column')
        .attr('width', barWidth)
        .attr('x', function(d) { 
            return d.sex == 'F' ?
                x(d.year) :
                x(d.year) + barWidth;
        });

    // update
    bars
        .classed('male', function(d) { return d.sex == 'M'; })
        .classed('female', function(d) { return d.sex == 'F'; })
      .transition()
        .attr('y', function(d) { return y(d.number); })
        .attr('height', function(d) { return height - y(d.number); });

    bars.exit()
        .transition()
        .attr('y', height)
        .attr('height', 0)
        .remove();

}
</script>

{% endblock scripts %}